<div class="influencers">
    <div class="jumbotron">
        <h1 class="display-4">Interactua con grandes audiencias</h1>
        <p class="lead">La difusión que le das a tu marca es tan importante como el contenido con que la difundes. </p>
        <hr class="my-4">
        <p>Alcanza una audiencia más grande y estratégica con las colaboraciones que ofrecemos para tu marca.</p>
        <p class="lead">
            <a class="btn btn-dark btn-lg" href="/contacto" role="button">Contáctanos</a>
        </p>
    </div>
    <div class="influencerCards">
        <div class="container ">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/caroArnaiz.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Caro Arnaiz</h5>
                            {{!-- <p class="card-text">Una mujer admirable y auténtica. Siempre acompañada de empatía y buen estilo.</p> --}}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Audiencia: 33mil seguidores</li>
                            <li class="list-group-item">Canal: Instagram</li>
                            <li class="list-group-item">Región: México</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://www.instagram.com/caroarnaiz/?hl=es" class="card-link" target="_blank" rel="noopener noreferrer">Ver Perfil</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/adrianaAdri.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Adriana Adri</h5>
                            {{!-- <p class="card-text">Una mujer admirable y auténtica. Siempre acompañada de empatía y buen estilo.</p> --}}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Audiencia: 41mil suscriptores</li>
                            <li class="list-group-item">Canal: YouTube</li>
                            <li class="list-group-item">Región: México</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://www.youtube.com/channel/UC1Um4HPvvl2iIX-e4_PXAtg" class="card-link" target="_blank" rel="noopener noreferrer">Ver Perfil</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/royerPortrait.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Rodrigo Villaseñor</h5>
                            {{!-- <p class="card-text">Una mujer admirable y auténtica. Siempre acompañada de empatía y buen estilo.</p> --}}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Audiencia: 4.4mil suscriptores</li>
                            <li class="list-group-item">Canal: Instagram</li>
                            <li class="list-group-item">Región: México</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://www.instagram.com/royervillasenor/?hl=es" class="card-link" target="_blank" rel="noopener noreferrer">Ver Perfil</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row secondDivInfluencer text-center">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/eloisaV.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Eloísa Villalobos</h5>
                            {{!-- <p class="card-text">Una mujer admirable y auténtica. Siempre acompañada de empatía y buen estilo.</p> --}}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Audiencia: 5.8mil seguidores</li>
                            <li class="list-group-item">Canal: Instagram</li>
                            <li class="list-group-item">Región: México</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://www.instagram.com/lehkostb/?hl=es" class="card-link" target="_blank" rel="noopener noreferrer">Ver Perfil</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/nancyMadrigal.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Nancy Madrigal</h5>
                            {{!-- <p class="card-text">Una mujer admirable y auténtica. Siempre acompañada de empatía y buen estilo.</p> --}}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Audiencia: 8mil seguidores</li>
                            <li class="list-group-item">Canal: YouTube</li>
                            <li class="list-group-item">Región: México</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://www.instagram.com/nanmadrigals/?hl=es" class="card-link" target="_blank" rel="noopener noreferrer">Ver Perfil</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/anivarMorillon.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Anivar Morillón</h5>
                            {{!-- <p class="card-text">Una mujer admirable y auténtica. Siempre acompañada de empatía y buen estilo.</p> --}}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Audiencia: 52mil seguidores</li>
                            <li class="list-group-item">Canal: Instagram</li>
                            <li class="list-group-item">Región: México</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://www.instagram.com/anivarmorillon/?hl=es" class="card-link" target="_blank" rel="noopener noreferrer">Ver Perfil</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>