<div class="inicio">
    <div class="bannerTemporada">
        <div class="poster">
            <h3 class="text-white">Comunicamos tu marca, para crecer tu negocio</h3>
            <br>
            <button type="button" class="btn btn-primary empezarYa">Quiero empezar ya</button>
        </div>
    </div>
    <div class="container inicioDiv">
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    {{!-- <h1 class="display-4 text-center">Servicios Xyncs</h1> --}}
                    <p class="lead">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                            Diseñamos tu sitio web
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Programación de código</a>
                        <a href="#" class="list-group-item list-group-item-action">Hosting</a>
                        <a href="#" class="list-group-item list-group-item-action">Dominio</a>
                        <a href="#" class="list-group-item list-group-item-action">Métodos de pago en línea</a>
                    </div>
                    </p>
                    <hr class="my-4">
                    <p>Utilizamos las tecnologías más actuales</p>
                    <p class="lead">
                        <a class="btn btn-dark btn-lg" href="/contacto" role="button">Empezar ya</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 webDesignDiv">

            </div>
        </div>
    </div>
    <div class="bannerSeparadorInicio">
        <div class="mktgDigitalDiv">
            <div class="text-center text-white">
                <h3>Marketing Digital</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item itemDivMarketing list-group-item-primary pointer serviciosInicio">Google Analytics</li>
                <li class="list-group-item itemDivMarketing list-group-item-primary pointer serviciosInicio">Campañas digitales</li>
                <li class="list-group-item itemDivMarketing list-group-item-primary pointer serviciosInicio">Manejo de redes sociales</li>
                <li class="list-group-item itemDivMarketing list-group-item-primary pointer serviciosInicio">Google Ads y SEO</li>

            </ul>

        </div>
    </div>
    <div class="incluyenDiv">
        <div class="container incluyenTitle">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h4>
                        Nuestros servicios incluyen:
                    </h4>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fas fa-tablet-alt fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Adaptabilidad de contenido a diferentes dispositivos</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fas fa-link fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Enlaces desde tu sitio web a llamadas, Facebook, Twitter & Instagram</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fas fa-id-card-alt fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Formularios de contacto personalizados</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fas fa-lock fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Certificado de sitio seguro</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fas fa-users fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Aumento de seguidores en redes sociales</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fab fa-internet-explorer fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Posicionamiento en motores de búsqueda</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fab fa-google fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Plan de desempeño con base en Google Analytics</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="far fa-object-ungroup fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Diseño gráfico y redacción de contenido</h5>
                </div>
            </div>
        </div>
    </div>

</div>