<div class="inicio">
    <div class="bannerTemporada">
        <div class="poster">
            <h3 class="text-white">Comunicamos tu marca, para crecer tu negocio</h3>
            <br>
            <button type="button" class="btn btn-primary empezarYa">Quiero empezar ya</button>
        </div>
    </div>
    {{!-- <div class="pestana text-dark bg-light">
        <div class="container text-center">
            <h4>CONTACTO RÁPIDO</h4>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1>
                        <a href="https://api.whatsapp.com/send?phone=525581809928" target="_blank"
                            rel="noopener noreferrer"><i class="fa-brands fa-whatsapp-square"
                                style="color: #00bb2d;"><span style="color: rgb(187, 186, 186);"
                                    class="font"></span></i></a>

                    </h1>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

    </div> --}}
    <div class="container text-left somosDivi">
        <div class="row">
            <h1 class="titleSomosDivi" style="font-weight: bolder;">Xyncs: Web Studio es una agencia digital enfocada en
                estrategias
                de contenido, diseño web y campañas
                digitales. Para construir las marcas paso a paso hacia el éxito en el mercado digital.</h1>
            <hr>
            <h4 class="title2SomosDivi">
                Hemos creado y liderado proyectos de diferentes industrias y dificultades. Nuestra versatilidad para
                apoyar a nuestros colaboradores con base en sus necesidades nos permite entender los negocios y su motor
                de la demanda.
            </h4>
        </div>
    </div>
    <div class="container inicioDiv">
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    {{!-- <h1 class="display-4 text-center">Servicios Xyncs</h1> --}}
                    <p class="lead">
                    <div class="list-group">
                        <a class="list-group-item  bg-dark text-white">
                            Diseñamos tu sitio web
                        </a>
                        <a class="list-group-item ">Programación de código</a>
                        <a class="list-group-item ">Hosting</a>
                        <a class="list-group-item ">Dominio</a>
                        <a class="list-group-item ">Métodos de pago en línea</a>
                    </div>
                    </p>
                    <hr class="my-4">
                    <p>Utilizamos las tecnologías más actuales</p>
                    <p class="lead">
                        <a class="btn btn-dark btn-lg" href="/contacto" role="button">Empezar ya</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 webDesignDiv">

            </div>
        </div>
    </div>
    <div class="bannerSeparadorInicio">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10">
                    <style>
                        .rounded-t-5 {
                            border-top-left-radius: 0.5rem;
                            border-top-right-radius: 0.5rem;
                        }

                        @media (min-width: 992px) {
                            .rounded-tr-lg-0 {
                                border-top-right-radius: 0;
                            }

                            .rounded-bl-lg-5 {
                                border-bottom-left-radius: 0.5rem;
                            }
                        }
                    </style>
                    <div class="card mb-3">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-lg-4 d-none d-lg-flex"> <img
                                    src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
                                    alt="Trendy Pants and Shoes"
                                    class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
                                    aria-controls="#picker-editor"> </div>
                            <div class="col-lg-8">
                                <div class="card-body py-5 px-md-5">
                                    <h2 class="fw-bold mb-4">Marketing Digital</h2>
                                    <hr>
                                    <p class="text-muted mb-4">Nuestros servicios impulsarán tu negocio a ganar
                                        posicionamiento y a construir tu marca en el mercado digital.</p>
                                    <div class="row mb-3">
                                        <div class="col-lg-4 mb-2">
                                            <p> <i class="fas fa-check-circle text-success me-2"></i><span>Google
                                                    Analytics</span> </p>
                                        </div>
                                        <div class="col-lg-4 mb-2">
                                            <p> <i class="fas fa-check-circle text-success me-2"></i><span>Campañas
                                                    digitales</span>
                                            </p>
                                        </div>
                                        <div class="col-lg-4 mb-2">
                                            <p> <i class="fas fa-check-circle text-success me-2"></i><span>Manejo de
                                                    redes sociales</span>
                                            </p>
                                        </div>
                                        <div class="col-lg-4 mb-2">
                                            <p> <i class="fas fa-check-circle text-success me-2"></i><span>Google Ads
                                                    y SEO</span>
                                            </p>
                                        </div>

                                    </div> <button type="button" class="btn btn-dark btn-lg px-5"
                                        onclick="location.href='/contacto';">Cotizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>

    </div>
    <div class="incluyenDiv">
        <div class="includeServices"></div>
        <div class="container incluyenTitle">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fas fa-tablet-alt fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Adaptabilidad de contenido a diferentes dispositivos</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fas fa-link fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Enlaces desde tu sitio web a llamadas, Facebook, Twitter & Instagram</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fas fa-id-card-alt fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Formularios de contacto personalizados</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fas fa-lock fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Certificado de sitio seguro</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fas fa-users fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Aumento de seguidores en redes sociales</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fab fa-internet-explorer fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Posicionamiento en motores de búsqueda</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="fab fa-google fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Plan de desempeño con base en Google Analytics</h5>
                </div>
                <div class="col-md-3 serviciosInicio pointer">
                    <i class="far fa-object-ungroup fontAweIcon"></i>
                    <br>
                    <br>
                    <h5>Diseño gráfico y redacción de contenido</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="clientesDiv container">
        <div class="container">
            <h1>Nuestros Colaboradores...</h1> <br>
        </div>
        <div class="row">
            <div class="col-md-4 pointer">
                <img src="/assets/images/regil.jpg" class="img-thumbnail" alt="DeRegil Chocolat" onclick="window.open('https://www.instagram.com/deregilchocolat/?hl=es')"  />
            </div>
            <div class="col-md-4 pointer">
                <img src="/assets/images/esensa.jpg" class="img-thumbnail" alt="Esensa" onclick="window.open('http://www.esensa.com.mx/')"  />
            </div>
            <div class="col-md-4 pointer">
                <img src="/assets/images/idm.jpg" class="img-thumbnail" alt="IDM" onclick="window.open('https://www.instagram.com/idm.serag/?hl=es')"  />
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4 pointer">
                <img src="/assets/images/elote.jpg" class="img-thumbnail" alt="Elote" onclick="window.open('https://www.instagram.com/elotedemicorazon/?hl=es')"  />
            </div>
            <div class="col-md-4 pointer">
                <img src="/assets/images/loc.jpg" class="img-thumbnail" alt="LOC" onclick="window.open('https://www.instagram.com/loc.seguridad/?hl=es')"  />
            </div>
            <div class="col-md-4 pointer">
                <img src="/assets/images/kaak.jpg" class="img-thumbnail" alt="Kaak Naab" onclick="window.open('https://www.instagram.com/kaaknaabplayaventura/?hl=es')"  />
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4 pointer">
                <img src="/assets/images/puertagua.jpg" class="img-thumbnail" alt="Puertagua" onclick="window.open('https://www.instagram.com/puertagua/?hl=es')"  />
            </div>
            <div class="col-md-4 pointer">
                <img src="/assets/images/tulum.jpg" class="img-thumbnail" alt="Tulum" onclick="window.open('https://www.instagram.com/diveandsnorkeltulum/?hl=es')"  />
            </div>
            <div class="col-md-4 pointer">
                <img src="/assets/images/terraza.jpg" class="img-thumbnail" alt="Terraza i662" onclick="window.open('https://www.instagram.com/terrazai662/?hl=es')"  />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pointer">
                <img src="/assets/images/akka.jpg" class="img-thumbnail" alt="Akka" onclick="window.open('https://www.instagram.com/akkaconsulting04/?hl=es')"  />
            </div>
            <div class="col-md-4 pointer">
                <img src="/assets/images/nasser.jpg" class="img-thumbnail"  alt="Nasser" onclick="window.open('https://www.instagram.com/nasser_muebles/?hl=es')"  />
            </div>
            <div class="col-md-4 pointer">
                <img src="/assets/images/sieteLunas.jpg" class="img-thumbnail" alt="Siete Lunas" onclick="window.open('https://www.instagram.com/mezcal_sietelunas/?hl=es')"  />
            </div>
        </div>
    </div>

</div>