<div class="proyectosDiv">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="card cardProyectos" style="width: 18rem;">
                    <img class="card-img-top cardImgStyle" src="/assets/images/wowBoxMx.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">The Wow Box MX</h5>
                        <p class="card-text">Una marca increíble de experiencias a domicilio que conectan a las personas y las incitan a convivir.</p>
                        <a href="https://www.thewowbox.mx/inicio" class="btn btn-primary" target="_blank">Ver proyecto</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card cardProyectos" style="width: 18rem;">
                    <img class="card-img-top cardImgStyle" src="/assets/images/ARCAlogo.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Grupo Arca</h5>
                        <p class="card-text">Empresa constuctora, dedicada a entregar soluciones totales de construcción con la mejor mano de obra y los mejores materiales.</p>
                        <a href="http://www.grupo-arca.com/" class="btn btn-primary" target="_blank">Ver proyecto</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card cardProyectos" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/royerPortrait.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Royer Villaseñor</h5>
                        <p class="card-text">El proyecto de un fotógrafo independiente. Este portafolio consigue plasmar su trabajo de una manera muy visual.</p>
                        <a href="https://royer-villasenor.herokuapp.com/" class="btn btn-primary" target="_blank">Ver proyecto</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card cardProyectos" style="width: 18rem;">
                    <img class="card-img-top cardImgStyle" src="/assets/images/bookEye.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Convocatoria Legión</h5>
                        <p class="card-text">Certámen literario para encontrar a nuevos escritores jóvenes e introducirlos a la industria literaria.</p>
                        <a href="http://convocatorialegion.herokuapp.com/" class="btn btn-primary" target="_blank">Ver proyecto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>