<div class="serviciosDiv">
    <div class="disenoWebDiv text-center">
        <h5 class="titleDisenoWebDiv">
            Diseño Web
        </h5>
    </div>
    <div class="serviciosDisenoWeb">
        <div class="blackScreenServicios">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-white text-center">
                        <i class="fas fa-terminal fontAweIcon2"></i>
                        <br>
                        <br>
                        <h2>Programación de código</h2>
                        <p>
                            Diseñamos tu página web desde el código. La interfaz visual es completamente personalizada a
                            tu gusto y
                            siempre mantendremos comunicación contigo para entregarte el sitio que mejor se ajusta a tus
                            gustos y necesidades.
                        </p>
                    </div>
                    <div class="col-md-6 text-white text-center">
                        <i class="fab fa-ioxhost fontAweIcon2"></i>
                        <br>
                        <br>
                        <h2>Hosting</h2>
                        <p>
                            Contamos con hospedaje web profesional y seguro. Tendrás tu propia bandeja de correo
                            electrónico e incluirá
                            certificado SSL, lo que permitirá a tu sitio ser considerado como seguro. De esta manera, tu
                            página se posicionará
                            en los motores de búsqueda más fácilmente.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-white text-center">
                        <i class="fas fa-at fontAweIcon2"></i>
                        <br>
                        <br>
                        <h2>Dominio Web</h2>
                        <p>
                            Te ayudaremos a conectar el dominio de tu marca a la página web. También podemos conseguirlo
                            por ti
                            y lo gestionaremos para que pueda tener el máximo rendimiento.
                        </p>
                    </div>
                    <div class="col-md-6 text-white text-center">
                        <i class="fab fa-paypal fontAweIcon2"></i>
                        <br>
                        <br>
                        <h2>Métodos de pago en línea</h2>
                        <p>
                            Ofrecemos diferentes opciones para que tu cliente pueda pagar desde la comodidad de su casa.
                            Si lo que buscas es una tienda en línea, este servicio se volverá la columna vertebral de tu
                            sitio web.
                            Contamos con los métodos de pago más usados y que te pueden beneficiar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="disenoWebDiv text-center">
        <h5 class="titleDisenoWebDiv">
            Marketing digital
        </h5>
    </div>
    <div class="serviciosMarketing">
        <div class="blackScreenServicios2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-white text-center">
                        <i class="fab fa-google fontAweIcon2"></i>
                        <br>
                        <br>
                        <h2>Google Analytics</h2>
                        <p>
                            Conectamos tu sitio web a la herramienta de analíticos de Google. También gestionamos los planes de analíticos,
                             de esta manera, estarás informado sobre todo lo que sucede en tu sitio web cuando el usuario interactúa con él. Y así,
                             que puedas tomar decisiones estratégicas para tu negocio.
                        </p>
                    </div>
                    <div class="col-md-6 text-white text-center">
                        <i class="fab fa-digital-ocean fontAweIcon2"></i>
                        <br>
                        <br>
                        <h2>Campañas Digitales</h2>
                        <p>
                            Preparamos y gestionamos campañas de desarollo digital para tu negocio. De esta manera, podrás conseguir
                             mejor posicionamiento y llegar de manera más específica a tu mercado. Y lo más importante, podrás desarrollar tu marca.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-white text-center">
                        <i class="fab fa-facebook-square fontAweIcon2"></i>
                        <br>
                        <br>
                        <h2>Manejo de Redes Sociales</h2>
                        <p>
                            Con nuestra experiencia en la parte digital, trabajaremos de la mano contigo, para poder desarrollar el contenido indicado 
                            en tus redes sociales. Así mismo, aumentaremos y mejoraremos la interacción con tu audiencia. Y por supuesto, haremos crecer tu
                             número de seguidores.
                        </p>
                    </div>
                    <div class="col-md-6 text-white text-center">
                        <i class="fab fa-internet-explorer fontAweIcon2"></i>
                        <br>
                        <br>
                        <h2>SEO y Google Ads</h2>
                        <p>
                            Con nuestras poderosas herramientas. Ubicaremos y posicionaremos a tu negocio dentro de los mejores lugares 
                            en motores de búsqueda. Esto te permitirá generar campañas donde obtengas posibles clientes, que son más propensos a 
                            adquirir tu producto o servicio.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>