<div class="serviciosDiv">
    <div class="disenoWebDiv text-center">
        <h5 class="titleDisenoWebDiv">
            Diseño Web
        </h5>
    </div>
    <div class="serviciosDisenoWeb">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-white text-center">
                    <i class="fas fa-terminal fontAweIcon2"></i>
                    <br>
                    <br>
                    <h2>Programación de código</h2>
                    <p>
                        Diseñamos tu página web desde el código. La interfaz visual es completamente personalizada a tu gusto y 
                        siempre mantendremos comunicación contigo para entregarte el sitio que mejor se ajusta a tus gustos y necesidades.
                    </p>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>